*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body{
  background-color: rgba(0, 0, 0, 0.76);
}

button,
input{
  border: none;
  outline: none;
  border-radius: .2rem;
}

.content{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form{
    min-width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.018);
    border-radius: .4rem;
    
    *{font-size: 1.2rem;}

    &__title{
      text-align: center;
      font-size: 4rem;
    }

    &__input{
      padding:1rem;
      width: 100%;
      &:not(:last-child){
        margin-bottom: .7rem;
      }
    }

    &__footer{
      width: 100%;
    }

    &__btn{
      padding:1rem;
      background-color: rgb(69, 106, 239);
      color: #fff;
      width: 35%;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      transition: background-color .3s ease-in-out, transform .3s cubic-bezier(0.97, 0.21, 0.15, 0.96);
      opacity: .8;
      
      &:active{
        transform: scale(.80);
      }
      &:hover{
        background-color: darken(rgb(69, 106, 239),5);
      }

      &.success{
        opacity: 1;
        background-color: rgb(14, 215, 148);
      }

      &.anim-left{
        transform: translateX(96%);
      }
      
      &.anim-right{
        transform: translateX(-96%);
      }
    }
  }
}